$icon-font-path: '../fonts/';

@import "_variables.scss";
// bower:scss
@import "bower_components/materialize/sass/materialize.scss";
// endbower

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.page-title {
    font-size: 36px;
}

#drop_target {
    height: 150px;
    width: 100%;
    font-size: larger;
}
